<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= componentName %> demo</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="app">
  <demo title="<%= componentName %> demo" v-bind:languages="{{ languages|json_encode|escape }}">
    {% for language in languages %}
      <div slot="content-{{ language.code }}" class="demo-content">
        {% include "index.twig" %}
      </div>
    {% endfor %}
  </demo>
</div>
<script src="index.js"></script>
</body>
</html>
