<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= componentName %> demo</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
{% include 'index.twig' %}
<script src="index.js"></script>
</body>
</html>
