<div class="demo" v-cloak>
    <div class="header">
        <h1>{{ title }}</h1>
        <language-selector v-bind:language="currentLanguage" v-bind:languages="languages"></language-selector>
    </div>
    <section v-for="language in languages" v-show="language.code == currentLanguage.code"  class="content" v-bind:lang="language.code" v-bind:dir="language.direction">
        <slot v-bind:name="'content-' + language.code">
            This will only be displayed if there is no content to be distributed.
        </slot>
    </section>
</div>