@import "../theme/lib/mixins";

.demo-body {
  @include primary-font();

  h1, h2, h3 {
    margin: 0;
  }

  h2 {
    border: none;
    margin-bottom: 20px;
    font-size: 32px;
  }

  .demo-content {
    margin-bottom: 20px;
    border: solid 3px #f7f7f9;
    padding: 20px;
  }
}