.menu {
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    cursor: pointer;

    border-width: 1px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: transparent;
    font-weight: 700;

    &.active {
      background-color: #B24109;
      border-color: #7F1813;

      a {
        &, &:active, &:visited {
          color: white;
        }
      }
    }

    .name {
      font-size: 1.25em;
      line-height: 1.25em;
    }

    a {
      display: block;
      padding: 8px;
      text-decoration: none;

      &, &:active, &:visited {
        color: #333;
      }
    }
  }
}
