@import "index.scss";
@import "../demo/index";

.demo {
  @at-root {
    .demo-content {
      @include primary-font();
    }
  }

  .demo-content {
    > div {
      margin-bottom: 20px;

      &:after {
        @include clear-float;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @at-root {
    .font-header {
      @include float(left);
    }
  }

  .font-header {
    width: 25%;
  }
  @at-root {
    .font-demo {
      @include float(right);
    }
  }

  .font-demo {
    width: 75%;
  }
}
