@import "index.scss";
@import "../demo/index";

.demo-content {
  > div {
    margin-bottom: 20px;

    &:after {
      @include clear-float;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .font-header {
    @include float(left);
    width: 25%;
  }

  .font-demo {
    @include float(right);
    width: 75%;
  }
}